//-nav(class="navbar navbar-inverse navbar-fixed-top")
include sidebar

nav(class="navbar fixed-nav-bar")
	a(
		class="brand-logo"
		href="#"
	) Kagura Project

	ul(
		id='nav-mobile'
		class='right hide-on-med-and-down'
	)
		li
			a(href='/evenements/add') add evenement
		li
			a(href='/figurants') Figurants
		li
			a(href='/figurants/add') add figurant

